caption {
    margin: 0 0 10px;
}

h3 {
    margin: 0 0 5px;
}

.table {
    border-collapse: collapse;
    border: 2px solid darkblue;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

.selected {
    background-color: bisque;
}